<div
  style="margin:0px;padding:0px;background:#ececec;color:rgb(32,32,32);font-size:14px;font-weight:normal;font-family:Helvetica,Arial,sans-serif!important;line-height:150%!important">
  <div align="center" style="padding: 20px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td>
            <div style="margin-bottom:15px">
              <div>
                <u></u>
                <div style="padding-top:0px">
                  <div style="font-size:10px;line-height:20px;height:20px">&nbsp;</div>

                  <div style="color:#0f146d;text-align:center;font-weight:bold">Your order is placed!</div>
                  <div>
                    <h2>Hi <%= orderDetail[0].user_id.first_name %>,</h2>
                    <div></div>
                    <p>Thank you for ordering from Anonder Bazar!</p>
                    <p>
                      We're excited for you to receive your order #<%= orderDetail[0].id %> and will notify you once it's on its
                      way. If you have ordered from multiple sellers, your items will be delivered in separate packages.
                      We hope you had a great shopping experience! You can check your order status here.
                    </p>
                    <div style="font-size:10px;line-height:20px;height:20px">&nbsp;</div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:300px">
                      <tbody>
                        <tr>
                          <td align="center" style="background:#ED1C24;color:#ffffff;font-weight:bold">
                            <a href="<%= commonUrl %>" style="text-decoration:none"
                              target="_blank"
                              >
                              <div
                                style="font-size:16px;width:280px;border-radius:10px;height:35px;background:#ED1C24;color:#ffffff;padding-top:12px;font-weight:bold">
                                ORDER STATUS</div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="font-size:10px;line-height:20px;height:20px">&nbsp;</div>
                  </div>
                  <p>Please note, we are unable to change your delivery address once your order is placed.​</p>
                  <p>Here's a confirmation of what you bought in your order.
                  </p>
                </div>


                <div>
                  <p style="color:#0f146d;font-weight:bold;font-size:15px">
                    DELIVERY DETAILS
                  </p>
                  <table border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="color:#0f146d;width:18%;min-width:100px;font-weight:bold" valign="top">
                          Name:
                        </td>
                        <td>
                          <%= orderDetail[0].user_id.first_name %>
                        </td>
                      </tr>
                      <tr>
                        <td style="color:#0f146d;font-weight:bold" valign="top">
                          Address:
                        </td>
                        <td>
                          <%= orderDetail[0].shipping_address.address %>
                        </td>
                      </tr>
                      <tr>
                        <td style="color:#0f146d;width:18%;font-weight:bold" valign="top">
                          Phone:
                        </td>
                        <td>
                          <%= orderDetail[0].shipping_address.phone %>
                        </td>
                      </tr>
                      <tr>
                        <td style="color:#0f146d;width:18%;font-weight:bold" valign="top">
                          Email:
                        </td>
                        <td>
                          <a href="mailto:<%= orderDetail[0].user_id.email %>" target="_blank"><%= orderDetail[0].user_id.email %></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


                <div>
                  <p style="color:#0f146d;font-weight:bold;font-size:15px">
                    ORDER DETAIL
                  </p>
                    <% orderDetail[0].orderItems.forEach(function(item, index){ %>
                      <div style="padding-bottom:10px;margin-top:10px">
                        <p style="margin:0px;color:#717171">Item <%= ++index %></p>
                      </div>


                      <table border="0" width="100%" cellspacing="0" cellpadding="0">


                        <tbody>
                          <tr>
                            <td valign="top" style="width:25%">
                              <a href="<%= commonUrl %>/product-details/<%= item.product_id.id %>"
                                target="_blank"><img src="<%= commonUrl %>/<%= item.product_id.image %>" width="160px" class="CToWUd"></a>
                            </td>
                            <td valign="top">
                              <p style="margin:0px;color:#0f146d"><a href="<%= commonUrl %>/product-details/<%= item.product_id.id %>" style="text-decoration:none" target="_blank"><%= item.product_id.name %></a>
                              </p>

                              <p style="margin:0px;color:#f36d2e">BDT <%= item.product_total_price %>
                              </p>

                              <p style="margin:0px;color:#535353">Quantity: <%= item.product_quantity %>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <% }); %>


                </div>

                <div>
                  <table style="width:100%;min-width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td style="color:#535353">Price</td>
                        <td align="right">BDT <%= orderDetail[0].total_price %></td>
                      </tr>
                      <tr>
                        <td style="color:#535353">Discount</td>
                        <td align="right">BDT (0)</td>
                      </tr>
                      <tr>
                        <td style="color:#535353">Delivery fee</td>
                        <td align="right">BDT 0</td>
                      </tr>
                      <tr>
                        <td style="color:#535353">Total</td>
                        <td align="right" style="color:#f36d2e;font-weight:bold">BDT <%= orderDetail[0].total_price %></td>
                      </tr>
                    </tbody>
                  </table>

                  <hr>

                  <table style="width:100%;min-width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td style="color:#535353">Shipping Option</td>
                        <td align="right">STANDARD</td>
                      </tr>
                      <tr>
                        <td style="color:#535353">Paid via</td>
                        <td align="right">Cash On Delivery</td>
                      </tr>
                    </tbody>
                  </table>

                </div>


                <div>
                  <p style="color:#0f146d;font-weight:bold;font-size:15px">
                    NEED HELP?
                  </p>
                  <div>
                    <p>
                    </p>
                    <p><b>Will there be delivery delay due to COVID,19? </b></p>
                    Due to the government's recent COVID-19 restrictions, your order can be delayed. You will be
                    notified through sms or email in case of delay.
                    <p></p>
                    <p>
                    </p>
                    <p><b>Can I change my shipping address after I have placed the order?</b></p>
                    Unfortunately, you can't change the address, but you may cancel and re-order with right address.
                    <p></p>
                    <p>
                    </p>
                    <p><b>Will somebody contact me before delivering the package to my location?​</b></p>
                    Our delivery hero may contact you to confirm your location, you will also receive a SMS/Email on the
                    day of delivery.
                    <p></p>
                    <p>
                    </p>
                    <p><b>How do I cancel my order?​</b></p>
                    Click on ' <b>MyAccount</b> ' and click on ' <b>My Orders</b> ', once you see your order, click the
                    cancel button and fill the cancellation reason and <b>submit</b>.
                    <p></p>
                  </div>
                </div>
                <div>
                  <u></u>
                  <div
                    style="margin:0px;padding: 10px;background:#ffffff;font-size:14px;font-weight:normal;font-family:Helvetica,Arial,sans-serif!important">

                    <div style="max-width:730px" align="left">




                      <p style="color:#0f146d;font-weight:bold;font-size:15px">
                        NOTES
                      </p>
                      <div>
                        <p>
                          For more information, visit our <a href="<%= commonUrl %>"
                            style="text-decoration:none" target="_blank">Anonder Bazar Help Center</a> or check our
                            <a href="<%= commonUrl %>" style="text-decoration:none" target="_blank" >return
                            policy</a> here.
                        </p>
                        <p>
                        </p>
                        <p style="margin:0px">Please also note that any transactions made off the Anonder Bazar platform
                          violate our Terms of Service.</p>
                        If a seller on Anonder Bazar asks you to pay off-site or through another channel, please do not
                        send them money and report the matter to us.
                        <p></p>
                      </div>




                      <div style="font-size:10px;line-height:20px;height:15px">&nbsp;</div>
                      <table cellpadding="0" cellspacing="0"
                        style="border:0px;padding:0px;margin:0px;display:none;float:left">
                        <tbody>
                          <tr>
                            <td height="1" style="font-size:1px;line-height:1px;padding:0px">
                              <br><img src="" class="CToWUd">
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>

                  </div>


                </div>
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>


  </div>
</div>
